@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: tomato;
}
.button {
  display: inline-block;
  padding: 10px 30px;
  color: aliceblue;
  background-color: transparent;
  border: 2px solid tomato;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.button:hover {
  color: aliceblue;
  background-color: tomato;
}
/* Header Section */
#header {
  background-image: url("./img3.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#header .header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#header h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
#header h1:nth-child(1) {
  animation-delay: 1s;
}
#header h1:nth-child(2) {
  animation-delay: 2s;
}
#header h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}
#header h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: tomato;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}
#header h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#header h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#header h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* Header Section End*/
/* Card Section */
#card .card {
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}
#card .card-items {
  width: 100%;
}
#card .card-item {
  /* transition */
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 30px;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.1s ease box-shadow;
}
#card .card-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#card .card-item a {
  text-align: center;
  align-self: center;
  width: 100%;
  color: tomato;
}
#card .card-item a:hover {
  color: aliceblue;
  background-color: tomato;
}
/* End Card Section */
/* Footer-Section */
#footer {
  background-image: url("./img3.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 10px;
  min-height: 200px;
}
#footer .footer h2 {
  color: aliceblue;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 10px;
}
#footer .social-icon {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
/* End Footer-Section */

/* Keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: aliceblue;
  }
}
@keyframes text_reveal_name {
  100% {
    color: tomato;
    font-weight: 500;
  }
}
