* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.root {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}
#capture {
  width: 100%;
  height: auto;
}
